################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EjerciciosLogica/FileContentIndex/1a67bfdc-a431-48ca-b5da-1a36dd47f13d.vsidx
/.vs/EjerciciosLogica/FileContentIndex/0f9d9a1d-8efb-4a91-90fa-05dec0cb94f2.vsidx
