################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EjerciciosLogica/FileContentIndex/1a67bfdc-a431-48ca-b5da-1a36dd47f13d.vsidx
